main {
    width: 70%;
    margin: auto;
    text-align: center;
}

main #join-flow button {
    margin-top: 20px;
    background-color: #2D8CFF;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

main #join-flow button:hover {
    background-color: #2681F2;
}

/* .share-link{
    display: none;
} */

.share-video-link{
    text-align: center;
}

#share-call-link{
    padding: 5px;
    width: 600px;
    margin-top:20px
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.App main{
    border: 1px solid #ddd;
    min-height: 300px;
    max-width: 49%;
    
}

.heading{
    text-align: center;
}