body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
html, body {
    min-width: 0 !important;
}

.call-view{
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
}

.call-view #sessionContainer1{
    border: 1px solid #ddd;
}
.call-view #sessionContainer2{
    border: 1px solid #ddd;
}